In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("./Car Price.csv")

In [3]:
data

,Brand,Model,Year,Selling_Price,KM_Driven,Fuel,Seller_Type,Transmission,Owner
0,Maruti,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...,...
4335,Hyundai,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Brand          4340 non-null   object
 1   Model          4340 non-null   object
 2   Year           4340 non-null   int64
 3   Selling_Price  4340 non-null   int64
 4   KM_Driven      4340 non-null   int64
 5   Fuel           4340 non-null   object
 6   Seller_Type    4340 non-null   object
 7   Transmission   4340 non-null   object
 8   Owner          4340 non-null   object
dtypes: int64(3), object(6)
memory usage: 305.3+ KB

In [4]:
data.describe()

              Year  Selling_Price      KM_Driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [6]:
data.describe(include="object")

,Brand,Model,Fuel,Seller_Type,Transmission,Owner
count,4340,4340,4340,4340,4340,4340
unique,29,1491,5,3,2,5
top,Maruti,Maruti Swift Dzire VDI,Diesel,Individual,Manual,First Owner
freq,1280,69,2153,3244,3892,2832

In [7]:
data.isnull().sum()

Brand            0
Model            0
Year             0
Selling_Price    0
KM_Driven        0
Fuel             0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [8]:
df = data.copy()

In [9]:
df

,Brand,Model,Year,Selling_Price,KM_Driven,Fuel,Seller_Type,Transmission,Owner
0,Maruti,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...,...
4335,Hyundai,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [16]:
# for i, name in enumerate(df["Brand"].unique()):
#     print(i, name)

In [17]:
brand_encoder = {name:i for i, name in enumerate(df["Brand"].unique())}

In [20]:
df["Brand"].apply(lambda x: brand_encoder[x])

0        0
1        0
2        1
3        2
4        3
        ..
4335     1
4336     1
4337     0
4338     1
4339    16
Name: Brand, Length: 4340, dtype: int64

In [21]:
df["Brand"]

0        Maruti
1        Maruti
2       Hyundai
3        Datsun
4         Honda
         ...
4335    Hyundai
4336    Hyundai
4337     Maruti
4338    Hyundai
4339    Renault
Name: Brand, Length: 4340, dtype: object

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
le = LabelEncoder()

In [24]:
le.fit(df["Brand"])

LabelEncoder()

In [26]:
le.classes_

array(['Ambassador', 'Audi', 'BMW', 'Chevrolet', 'Daewoo', 'Datsun',
       'Fiat', 'Force', 'Ford', 'Honda', 'Hyundai', 'Isuzu', 'Jaguar',
       'Jeep', 'Kia', 'Land', 'MG', 'Mahindra', 'Maruti', 'Mercedes-Benz',
       'Mitsubishi', 'Nissan', 'OpelCorsa', 'Renault', 'Skoda', 'Tata',
       'Toyota', 'Volkswagen', 'Volvo'], dtype=object)

In [29]:
a = le.transform(df["Brand"])
a

array([18, 18, 10, ..., 18, 10, 23])

In [30]:
le.inverse_transform(a)

array(['Maruti', 'Maruti', 'Hyundai', ..., 'Maruti', 'Hyundai', 'Renault'],
      dtype=object)

In [31]:
df["Brand"]

0        Maruti
1        Maruti
2       Hyundai
3        Datsun
4         Honda
         ...
4335    Hyundai
4336    Hyundai
4337     Maruti
4338    Hyundai
4339    Renault
Name: Brand, Length: 4340, dtype: object

In [33]:
pd.get_dummies(df["Brand"]).astype(int)

,Ambassador,Audi,BMW,Chevrolet,Daewoo,Datsun,Fiat,Force,Ford,Honda,...,Mercedes-Benz,Mitsubishi,Nissan,OpelCorsa,Renault,Skoda,Tata,Toyota,Volkswagen,Volvo
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4335,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4336,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4337,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4338,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4339,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [36]:
pd.concat([df, pd.get_dummies(df["Brand"]).astype(int)], axis=1).drop("Brand", axis=1)

,Model,Year,Selling_Price,KM_Driven,Fuel,Seller_Type,Transmission,Owner,Ambassador,Audi,...,Mercedes-Benz,Mitsubishi,Nissan,OpelCorsa,Renault,Skoda,Tata,Toyota,Volkswagen,Volvo
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner,0,0,...,0,0,0,0,0,0,0,0,0,0
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner,0,0,...,0,0,0,0,0,0,0,0,0,0
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner,0,0,...,0,0,0,0,0,0,0,0,0,0
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner,0,0,...,0,0,0,0,0,0,0,0,0,0
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner,0,0,...,0,0,0,0,1,0,0,0,0,0